<!doctype html>
<html>
  <head>
    <title>Add Comment</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=siteName%></h1>
    <h2>Add a Comment</h2>

    <form method="POST" action="/commentadded">
      <p><input id="article_title", type="hidden", name="article_title" value="<%=article_title%>" /></p>
      <p>Username: <input readonly id="username" type="text" name="username" value="<%=username%>" /></p>
      <p>Content: <textarea id="content" type="text" name="content" value="" ><%=content%></textarea></p>
      <input type="submit" value="Add Comment" />
    </form>    
    <p class="errormessage"><%=errormessage %></p>
  </body>
</html>